@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    min-height: 100vh;
    background: #42275a;
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);
    background: linear-gradient(to right, #734b6d, #42275a);
}

.todoTitle {
    letter-spacing: 2px;
}

#inputField {
    max-width: 20rem;
    width: 100%;
    vertical-align: middle;
    border: none;
}

#inputField:focus {
    border: none;
    outline: none;
}

@media (min-width: 576px) {
    .paragraph-styling {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .paragraph-styling {
        width: 33.33%;
    }
}

@media (min-width: 992px) {
    .paragraph-styling {
        width: 25%;
    }
}