@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: rebeccapurple;
}

.todoTitle{
  letter-spacing: 3px;
}

#inputField{
  max-width:20rem;
  width: 100%;
  vertical-align: middle;
  border: none;
}


#addToDo {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 30px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: green;
}



.to-dos {
  margin-top: 25px;
}

.paragraph-styling{
  background-color: #fff;
  width: auto;
  min-height: 2.4rem;
  height: auto;
  cursor: pointer;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 0.25rem;
}

